h1 {
  font-family: helvetica;
  font-weight: bolder;
  font-size: 25px;
  color: #A9A9A9;
}

p {
  font-family: helvetica;
  font-size: 18px;
  font-weight: lighter;
  color: #A9A9A9;
}

a:hover {
  text-decoration: none;
}
