<div class="collages">
    <% @collages.each do |collage| %>
      <%= link_to collage_path(collage) do %>
        <img src=<%= collage.imagen %>>
      <% end %>
    <% end %>
</div>

<div class="menu">
  <a href="https://www.instagram.com/lapatitafea_/" target="_blank">
    <div class="menu-button">
      <i class="fab fa-instagram" style="font-size: 22px;"></i>
    </div>
  </a>

  <% if user_signed_in? %>
    <%= link_to new_collage_path do %>
      <div class="add-collage">
        <i class="fas fa-pencil-alt"></i>
      </div>
    <% end %>
  <% end %>

</div>
