<div class="collages">
  <div class="collages-masonry">
    <% @collages.each do |collage| %>
      <%= link_to collages_path(collage) do %>
        <img src=<%= collage.imagen %>>
      <% end %>
    <% end %>
  </div>
</div>
