.add-collage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #E3E3E3;
  color: #A9A9A9;
  position: fixed;
  left: 30px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  p {
    font-family: helvetica;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
  }
  &:hover {
    background-color: gray;
    color: white;
  }
}

.admin-collage {
  top: 105px;
}

.menu-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #E3E3E3;
  color: #A9A9A9;
  position: fixed;
  right: 30px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  p {
    font-family: helvetica;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
  }
  &:hover {
    background-color: gray;
    color: white;
  }
}

.collage-navigation {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.navigation-arrow {
  background-color: #E3E3E3;
  margin-right: 17px;
  padding: 5px 13px;
  text-align: center;
  &:hover {
    background-color: gray;
    color: white;
  }
}
